In [3]:
# UserDetails
import json
import pandas as pd

def commondata():

    path1=r"D:\Swetha Documents\Python_Code\THIRD_PROJ_AIRBNB\sample_airbnb.json"
    
    Data=open(path1,'r')

    Userdetails=json.load(Data)

    data = []

    for item in Userdetails:
        details = {
            "Id": item['_id'],
            "URL": item['listing_url'],
            "Name": item['name'],
            "Description": item['description'],
            "Neighbour_overview":item['neighborhood_overview'],
            "Notes": item['notes'],
            "House_rules": item.get('house_rules'),
            "Property_type": item.get('property_type'),
            "Room_type": item.get('room_type'),
            "Bed_type": item.get('bed_type'),
            "Minimum_night":item["minimum_nights"],
            "Maximum_night":item["maximum_nights"],
            'Policy':item['cancellation_policy'],
            'First_review':item.get('first_review'),
            "Last_review":item.get('last_review'),
            "Accomodation":item['accommodates'],
            "Bedrooms":item.get('bedrooms'),
            "Beds":item.get('beds'),
            "No.of.reviews":item['number_of_reviews'],
            "Bathrooms":item.get('bathrooms'), 
            "Price":item['price'],
            "CleaningFee":item.get('cleaning_fee'),
            "ExtraPeople":item['extra_people'],
            "Guests":item['guests_included']}
        data.append(details)
    
    Detailsdf=pd.DataFrame(data)
    return Detailsdf

In [4]:
Firstdf = commondata()

In [5]:
Firstdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  5555 non-null   object
 1   URL                 5555 non-null   object
 2   Name                5555 non-null   object
 3   Description         5555 non-null   object
 4   Neighbour_overview  5555 non-null   object
 5   Notes               5555 non-null   object
 6   House_rules         5555 non-null   object
 7   Property_type       5555 non-null   object
 8   Room_type           5555 non-null   object
 9   Bed_type            5555 non-null   object
 10  Minimum_night       5555 non-null   object
 11  Maximum_night       5555 non-null   object
 12  Policy              5555 non-null   object
 13  First_review        4167 non-null   object
 14  Last_review         4167 non-null   object
 15  Accomodation        5555 non-null   int64
 16  Bedrooms            5550 non-null   float64
 17  Beds                5542 non-null   float64
 18  No.of.reviews       5555 non-null   int64
 19  Bathrooms           5545 non-null   float64
 20  Price               5555 non-null   float64
 21  CleaningFee         4024 non-null   float64
 22  ExtraPeople         5555 non-null   float64
 23  Guests              5555 non-null   float64
dtypes: float64(7), int64(2), object(15)
memory usage: 1.0+ MB

In [6]:
# Checking null values
Firstdf.isnull().sum()

Id                       0
URL                      0
Name                     0
Description              0
Neighbour_overview       0
Notes                    0
House_rules              0
Property_type            0
Room_type                0
Bed_type                 0
Minimum_night            0
Maximum_night            0
Policy                   0
First_review          1388
Last_review           1388
Accomodation             0
Bedrooms                 5
Beds                    13
No.of.reviews            0
Bathrooms               10
Price                    0
CleaningFee           1531
ExtraPeople              0
Guests                   0
dtype: int64

In [7]:
Firstdf[['Bedrooms', 'Beds', 'Bathrooms','CleaningFee']].describe()

          Bedrooms         Beds    Bathrooms  CleaningFee
count  5550.000000  5542.000000  5545.000000  4024.000000
mean      1.411712     2.071454     1.291163    94.074801
std       1.041942     1.619660     0.702265   110.203782
min       0.000000     0.000000     0.000000     0.000000
25%       1.000000     1.000000     1.000000    23.000000
50%       1.000000     2.000000     1.000000    60.000000
75%       2.000000     3.000000     1.000000   129.000000
max      20.000000    25.000000    16.000000  2000.000000

In [8]:
Firstdf[['Bedrooms', 'Beds', 'Bathrooms','CleaningFee']].median()

Bedrooms        1.0
Beds            2.0
Bathrooms       1.0
CleaningFee    60.0
dtype: float64

In [9]:
# Impute missing data
Firstdf.fillna({'Bedrooms':Firstdf['Bedrooms'].median(),
                    'Beds':Firstdf['Beds'].median(),
                    'Bathrooms':Firstdf['Bathrooms'].median(),
                    'CleaningFee':Firstdf['CleaningFee'].median(),
                    "First_review":0,
                    "Last_review":0},inplace=True)

In [10]:
# Replacing empty string with values
Firstdf.replace({"Neighbour_overview":{'':'No Neighbour data'},
        "Notes":{'':'No Notes data'},
        "House_rules":{'':'No House Rules data'}},inplace=True)

In [11]:
Firstdf.isna().sum()

Id                    0
URL                   0
Name                  0
Description           0
Neighbour_overview    0
Notes                 0
House_rules           0
Property_type         0
Room_type             0
Bed_type              0
Minimum_night         0
Maximum_night         0
Policy                0
First_review          0
Last_review           0
Accomodation          0
Bedrooms              0
Beds                  0
No.of.reviews         0
Bathrooms             0
Price                 0
CleaningFee           0
ExtraPeople           0
Guests                0
dtype: int64

In [12]:
#Checking data types
Firstdf.dtypes

Id                     object
URL                    object
Name                   object
Description            object
Neighbour_overview     object
Notes                  object
House_rules            object
Property_type          object
Room_type              object
Bed_type               object
Minimum_night          object
Maximum_night          object
Policy                 object
First_review           object
Last_review            object
Accomodation            int64
Bedrooms              float64
Beds                  float64
No.of.reviews           int64
Bathrooms             float64
Price                 float64
CleaningFee           float64
ExtraPeople           float64
Guests                float64
dtype: object

In [13]:
#Changing data types
Firstdf['Id']=Firstdf['Id'].astype(int)
Firstdf['Bedrooms']=Firstdf['Bedrooms'].astype(int)
Firstdf['Beds']=Firstdf['Beds'].astype(int)
Firstdf['Bathrooms']=Firstdf['Bathrooms'].astype(int)
Firstdf['Price']=Firstdf['Price'].astype(int)
Firstdf['CleaningFee']=Firstdf['CleaningFee'].astype(int)
Firstdf['ExtraPeople']=Firstdf['ExtraPeople'].astype(int)
Firstdf['Guests']=Firstdf['Guests'].astype(int)

In [14]:
# Changed datatypes
Firstdf.dtypes

Id                     int32
URL                   object
Name                  object
Description           object
Neighbour_overview    object
Notes                 object
House_rules           object
Property_type         object
Room_type             object
Bed_type              object
Minimum_night         object
Maximum_night         object
Policy                object
First_review          object
Last_review           object
Accomodation           int64
Bedrooms               int32
Beds                   int32
No.of.reviews          int64
Bathrooms              int32
Price                  int32
CleaningFee            int32
ExtraPeople            int32
Guests                 int32
dtype: object

In [15]:
# Collecting Amenities Details
import json
import pandas as pd

def Amenitiesfunction():

    amenitiespath=r"D:\Swetha Documents\Python_Code\THIRD_PROJ_AIRBNB\sample_airbnb.json"

    Data=open(amenitiespath,'r')

    amenitiesdetails=json.load(Data)

    amenities = []

    for a in amenitiesdetails:
        if "_id" in a and "amenities" in a:
            amenities_string = ", ".join(a["amenities"])
            amenities.append({"AmenitiesId": a["_id"], "Amenities": amenities_string})
    
    amenities_df = pd.DataFrame(amenities)
    return amenities_df

In [16]:
Amenitiesdframe=Amenitiesfunction()

In [17]:
Amenitiesdframe.isnull().sum()

AmenitiesId    0
Amenities      0
dtype: int64

In [18]:
Amenitiesdframe.dtypes

AmenitiesId    object
Amenities      object
dtype: object

In [19]:
# Changing datatypes
Amenitiesdframe['AmenitiesId']=Amenitiesdframe['AmenitiesId'].astype(int)

In [20]:
Amenitiesdframe

      AmenitiesId                                          Amenities
0         1003530  Internet, Wifi, Air conditioning, Kitchen, Ele...
1        10133554  Internet, Wifi, Air conditioning, Free parking...
2        10059872  Air conditioning, Kitchen, Smoking allowed, Do...
3        10084023  TV, Wifi, Air conditioning, Kitchen, Elevator,...
4        10091713  TV, Wifi, Kitchen, Elevator, Heating, Washer, ...
...           ...                                                ...
5550      9985696  TV, Cable TV, Internet, Wifi, Kitchen, Buzzer/...
5551      9993190  TV, Wifi, Air conditioning, Pool, Kitchen, Fre...
5552      9887054  TV, Wifi, Air conditioning, Kitchen, Elevator,...
5553      9907907  TV, Internet, Wifi, Kitchen, Washer, Dryer, Sm...
5554      9936016  TV, Cable TV, Internet, Wifi, Air conditioning...

[5555 rows x 2 columns]

In [21]:
# # Host Details
import json

def hostfunction():

    path2 = r"D:\Swetha Documents\Python_Code\THIRD_PROJ_AIRBNB\sample_airbnb.json"

    hostdata=open(path2,'r')

    hostfiles=json.load(hostdata)

    host = []

    for i in hostfiles:
        hostdetails={
            "Id": i.get('_id'),
            "HostId":i['host'].get('host_id'),
            "Host_Url":i['host']['host_url'],
            "Host_Name":i['host']['host_name'],
            "Host_location":i['host']['host_location'],
            'Host_About':i['host']['host_about'],
            "Host_thumbnail":i['host']['host_thumbnail_url'],
            "Host_picture_url":i['host']['host_picture_url'],
            'Host_neighbourhood':i['host']['host_neighbourhood'],
            "Host_profile":i['host']['host_has_profile_pic'],
            "Host_identity":i['host']['host_identity_verified'],
            "Host_listing_count":i['host']['host_listings_count'],
            "Host_verification":",".join(i['host']['host_verifications'])}
        host.append(hostdetails)
    hostdf=pd.DataFrame(host)
    return hostdf

In [22]:
Seconddf=hostfunction()

In [23]:
# Replacing empty string with values
Seconddf.replace({"Host_About":{'':'No Data'},"Host_neighbourhood":{'':'No Neighbourhood data'}},inplace=True)

In [24]:
Seconddf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5555 entries, 0 to 5554
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Id                  5555 non-null   object
 1   HostId              5555 non-null   object
 2   Host_Url            5555 non-null   object
 3   Host_Name           5555 non-null   object
 4   Host_location       5555 non-null   object
 5   Host_About          5555 non-null   object
 6   Host_thumbnail      5555 non-null   object
 7   Host_picture_url    5555 non-null   object
 8   Host_neighbourhood  5555 non-null   object
 9   Host_profile        5555 non-null   bool
 10  Host_identity       5555 non-null   bool
 11  Host_listing_count  5555 non-null   int64
 12  Host_verification   5555 non-null   object
dtypes: bool(2), int64(1), object(10)
memory usage: 488.4+ KB

In [25]:
Seconddf.isnull().sum()

Id                    0
HostId                0
Host_Url              0
Host_Name             0
Host_location         0
Host_About            0
Host_thumbnail        0
Host_picture_url      0
Host_neighbourhood    0
Host_profile          0
Host_identity         0
Host_listing_count    0
Host_verification     0
dtype: int64

In [26]:
Seconddf.dtypes

Id                    object
HostId                object
Host_Url              object
Host_Name             object
Host_location         object
Host_About            object
Host_thumbnail        object
Host_picture_url      object
Host_neighbourhood    object
Host_profile            bool
Host_identity           bool
Host_listing_count     int64
Host_verification     object
dtype: object

In [27]:
# Changing datatypes
Seconddf['Id']=Seconddf['Id'].astype(int)
Seconddf['HostId']=Seconddf['HostId'].astype(int)

In [28]:
# Address Details

import json

def Addressfunction():

    path3 = r"D:\Swetha Documents\Python_Code\THIRD_PROJ_AIRBNB\sample_airbnb.json"

    Addressdata=open(path3,'r')

    Addressfiles=json.load(Addressdata)

    Address = []

    for a in Addressfiles:
        address_details = {
            "Id": a.get('_id'),
            "Street": a['address'].get('street'),
            "SubUrb": a['address'].get('suburb'),
            "Government_Area":a['address']['government_area'],
            "Market":a['address']['market'],
            "Country":a['address']['country'],
            "Country_code":a['address']['country_code'],
            "Location_type":a['address']['location']['type'],
            "longitude": a['address']['location'].get('coordinates',[])[0],
            "latitude": a['address']['location'].get('coordinates',[])[1],
            "is_location_exact": a['address']['location'].get('is_location_exact')}
        Address.append(address_details)

    Addressdf=pd.DataFrame(Address)
    return Addressdf

In [29]:
Thirddf=Addressfunction()

In [30]:
# Checking null values
Thirddf.isnull().sum()

Id                   0
Street               0
SubUrb               0
Government_Area      0
Market               0
Country              0
Country_code         0
Location_type        0
longitude            0
latitude             0
is_location_exact    0
dtype: int64

In [31]:
# Availability Details

import json

def AvailabilityData():

    path4 = r"D:\Swetha Documents\Python_Code\THIRD_PROJ_AIRBNB\sample_airbnb.json"

    AvailData=open(path4,'r')

    Availablefiles=json.load(AvailData)

    Availability = []

    for d in Availablefiles:
        availabilitydetails = {"Id":d.get('_id'),
                            "Availability_30":d['availability']['availability_30'],
                            "Availability_60":d['availability']['availability_60'],
                            "Availability_90":d['availability']['availability_90'],
                            "Availability_365":d['availability']['availability_365']}
        Availability.append(availabilitydetails)
    
    Availabilitydf=pd.DataFrame(Availability)
    return Availabilitydf

In [32]:
Fourthdf=AvailabilityData()

In [33]:
Fourthdf.isnull().sum()

Id                  0
Availability_30     0
Availability_60     0
Availability_90     0
Availability_365    0
dtype: int64

In [34]:
# Review Score Details

import json
import pandas as pd

def ReviewScorefunction():

    path5 = r"D:\Swetha Documents\Python_Code\THIRD_PROJ_AIRBNB\sample_airbnb.json"

    ReviewScoreData=open(path5,'r')

    ReviewScorefiles=json.load(ReviewScoreData)

    ReviewScore = []

    for r in ReviewScorefiles:
        ReviewScoreDetails = {"Id":r.get('_id'),
        "ReviewScoreAccuracy":r['review_scores'].get('review_scores_accuracy'),
        "ReviewScoreCleanliness":r['review_scores'].get('review_scores_cleanliness'),
        "ReviewScoreChecking":r['review_scores'].get('review_scores_checkin'),
        "ReviewScoreCommunication":r['review_scores'].get("review_scores_communication"),
        "ReviewScoreLocation":r['review_scores'].get("review_scores_location"),
        "ReviewScoreValue":r['review_scores'].get('review_scores_value'),
        "ReviewScoreRating":r['review_scores'].get('review_scores_rating')}
        ReviewScore.append(ReviewScoreDetails)

    ReviewScoredf=pd.DataFrame(ReviewScore)
    return ReviewScoredf

In [35]:
Fifthdf=ReviewScorefunction()

In [36]:
Fifthdf.dtypes

Id                           object
ReviewScoreAccuracy         float64
ReviewScoreCleanliness      float64
ReviewScoreChecking         float64
ReviewScoreCommunication    float64
ReviewScoreLocation         float64
ReviewScoreValue            float64
ReviewScoreRating           float64
dtype: object

In [37]:
Fifthdf[['ReviewScoreAccuracy','ReviewScoreCleanliness','ReviewScoreChecking','ReviewScoreCommunication','ReviewScoreLocation','ReviewScoreValue','ReviewScoreRating']].median()

ReviewScoreAccuracy         10.0
ReviewScoreCleanliness      10.0
ReviewScoreChecking         10.0
ReviewScoreCommunication    10.0
ReviewScoreLocation         10.0
ReviewScoreValue             9.0
ReviewScoreRating           95.0
dtype: float64

In [38]:
Fifthdf[['ReviewScoreAccuracy','ReviewScoreCleanliness','ReviewScoreChecking','ReviewScoreCommunication','ReviewScoreLocation','ReviewScoreValue','ReviewScoreRating']].describe()

,ReviewScoreAccuracy,ReviewScoreCleanliness,ReviewScoreChecking,ReviewScoreCommunication,ReviewScoreLocation,ReviewScoreValue,ReviewScoreRating
count,4079.000000,4082.000000,4080.000000,4081.000000,4081.000000,4080.000000,4081.000000
mean,9.557490,9.315287,9.699265,9.688312,9.601078,9.305147,93.099240
std,0.899603,1.088492,0.784753,0.806155,0.759023,0.939855,9.023483
min,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,20.000000
25%,9.000000,9.000000,10.000000,10.000000,9.000000,9.000000,90.000000
50%,10.000000,10.000000,10.000000,10.000000,10.000000,9.000000,95.000000
75%,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,99.000000
max,10.000000,10.000000,10.000000,10.000000,10.000000,10.000000,100.000000

In [39]:
Fifthdf.isna().sum()

Id                             0
ReviewScoreAccuracy         1476
ReviewScoreCleanliness      1473
ReviewScoreChecking         1475
ReviewScoreCommunication    1474
ReviewScoreLocation         1474
ReviewScoreValue            1475
ReviewScoreRating           1474
dtype: int64

In [40]:
Fifthdf.isnull().sum()

Id                             0
ReviewScoreAccuracy         1476
ReviewScoreCleanliness      1473
ReviewScoreChecking         1475
ReviewScoreCommunication    1474
ReviewScoreLocation         1474
ReviewScoreValue            1475
ReviewScoreRating           1474
dtype: int64

In [41]:
# Impute missing data
Fifthdf.fillna({'ReviewScoreAccuracy':Fifthdf['ReviewScoreAccuracy'].median(),
        'ReviewScoreCleanliness':Fifthdf['ReviewScoreCleanliness'].median(),
        'ReviewScoreChecking':Fifthdf['ReviewScoreChecking'].median(),
        'ReviewScoreCommunication':Fifthdf['ReviewScoreCommunication'].median(),
        'ReviewScoreLocation':Fifthdf['ReviewScoreLocation'].median(),
        'ReviewScoreValue':Fifthdf['ReviewScoreValue'].median(),
        'ReviewScoreRating':Fifthdf['ReviewScoreRating'].median()},inplace=True)

In [42]:
# Changing datatypes
Fifthdf['Id']=Fifthdf['Id'].astype('Int64')
Fifthdf['ReviewScoreAccuracy']=Fifthdf['ReviewScoreAccuracy'].astype(int)
Fifthdf['ReviewScoreCleanliness']=Fifthdf['ReviewScoreCleanliness'].astype(int)
Fifthdf['ReviewScoreChecking']=Fifthdf['ReviewScoreChecking'].astype(int)
Fifthdf['ReviewScoreCommunication']=Fifthdf['ReviewScoreCommunication'].astype(int)
Fifthdf['ReviewScoreLocation']=Fifthdf['ReviewScoreLocation'].astype(int)
Fifthdf['ReviewScoreValue']=Fifthdf['ReviewScoreValue'].astype(int)
Fifthdf['ReviewScoreRating']=Fifthdf['ReviewScoreRating'].astype(int)

In [43]:
Fifthdf.dtypes

Id                          Int64
ReviewScoreAccuracy         int32
ReviewScoreCleanliness      int32
ReviewScoreChecking         int32
ReviewScoreCommunication    int32
ReviewScoreLocation         int32
ReviewScoreValue            int32
ReviewScoreRating           int32
dtype: object

In [44]:
# Review Details

import json

def Reviewfunction():
        
    path6 = r"D:\Swetha Documents\Python_Code\THIRD_PROJ_AIRBNB\sample_airbnb.json"

    ReviewData=open(path6,'r')

    Reviewfiles=json.load(ReviewData)

    Review= []

    for l in Reviewfiles:
        reviews = l.get('reviews', [])
        for review in reviews:
            Reviewdetails = {"Id": review.get('_id'),"Date":review.get("date"),
                            "Listing_id":review.get("listing_id"),
                            "Reviewer_Id":review.get("reviewer_id"),
                            "ReviewerName":review.get('reviewer_name'),
                            "Comment":review.get('comments')}
            Review.append(Reviewdetails)
    
    Reviewdf=pd.DataFrame(Review)
    return Reviewdf

In [45]:
Sixthdf=Reviewfunction()
Sixthdf

,Id,Date,Listing_id,Reviewer_Id,ReviewerName,Comment
0,4351675,2013-04-29 04:00:00,1003530,3708459,Josh,i had a really pleasant stay at greta's place....
1,4848277,2013-05-28 04:00:00,1003530,4609491,Ralf,"Greta has been a great host, and her apartment..."
2,5094175,2013-06-11 04:00:00,1003530,6741662,Mame,Greta was wonderful. We arrived late at night ...
3,5497796,2013-07-02 04:00:00,1003530,474156,Lars,"Greta's place is very well located, so close t..."
4,6933005,2013-08-31 04:00:00,1003530,6067127,Nicole,I had a wonderful stay at Greta's NYC apartmen...
...,...,...,...,...,...,...
149787,311261442,2018-08-20 04:00:00,9993190,3140787,Harold,Condo is located in gated community with 3 poo...
149788,105800033,2016-10-02 04:00:00,9887054,97595938,绍彬,就是日用品不齐其他没有任何问题
149789,108875304,2016-10-17 04:00:00,9887054,97695338,Hayden,Cat is a great host and will reply as soon as ...
149790,111029283,2016-10-29 04:00:00,9887054,32130541,Dew,Cat was very helpful for our arrival and stay.
149791,124437381,2017-01-01 05:00:00,9887054,45066433,Ilia,The building itself is old and the room is har...

In [46]:
Sixthdf.isnull().sum()

Id              0
Date            0
Listing_id      0
Reviewer_Id     0
ReviewerName    1
Comment         8
dtype: int64

In [47]:
Sixthdf[['Id','Date','Listing_id','Reviewer_Id','ReviewerName','Comment']].describe()

,Id,Date,Listing_id,Reviewer_Id,ReviewerName,Comment
count,149792,149792,149792,149792,149791,149784
unique,149792,2778,3923,146640,32901,146782
top,4351675,2019-01-01 05:00:00,4069429,20775242,David,The host canceled this reservation the day bef...
freq,1,346,533,24,1072,126

In [48]:
#  Replacing empty string with values
Sixthdf.fillna({'ReviewerName':Sixthdf['ReviewerName'].count(),'Comment':Sixthdf['Comment'].count()},inplace=True)

In [49]:
# Changing datatypes
Sixthdf['Id']=Sixthdf['Id'].astype(int)
Sixthdf['Date']=Sixthdf['Date'].astype('datetime64[ns]')
Sixthdf['Listing_id']=Sixthdf['Listing_id'].astype(int)
Sixthdf['Reviewer_Id']=Sixthdf['Reviewer_Id'].astype(int)

In [50]:
Sixthdf.dtypes

Id                       int32
Date            datetime64[ns]
Listing_id               int32
Reviewer_Id              int32
ReviewerName            object
Comment                 object
dtype: object

In [51]:
Sixthdf.isnull().sum()

Id              0
Date            0
Listing_id      0
Reviewer_Id     0
ReviewerName    0
Comment         0
dtype: int64

In [52]:
Sixthdf

,Id,Date,Listing_id,Reviewer_Id,ReviewerName,Comment
0,4351675,2013-04-29 04:00:00,1003530,3708459,Josh,i had a really pleasant stay at greta's place....
1,4848277,2013-05-28 04:00:00,1003530,4609491,Ralf,"Greta has been a great host, and her apartment..."
2,5094175,2013-06-11 04:00:00,1003530,6741662,Mame,Greta was wonderful. We arrived late at night ...
3,5497796,2013-07-02 04:00:00,1003530,474156,Lars,"Greta's place is very well located, so close t..."
4,6933005,2013-08-31 04:00:00,1003530,6067127,Nicole,I had a wonderful stay at Greta's NYC apartmen...
...,...,...,...,...,...,...
149787,311261442,2018-08-20 04:00:00,9993190,3140787,Harold,Condo is located in gated community with 3 poo...
149788,105800033,2016-10-02 04:00:00,9887054,97595938,绍彬,就是日用品不齐其他没有任何问题
149789,108875304,2016-10-17 04:00:00,9887054,97695338,Hayden,Cat is a great host and will reply as soon as ...
149790,111029283,2016-10-29 04:00:00,9887054,32130541,Dew,Cat was very helpful for our arrival and stay.
149791,124437381,2017-01-01 05:00:00,9887054,45066433,Ilia,The building itself is old and the room is har...

In [53]:
import mysql.connector
mydb = mysql.connector.connect(host="localhost",user="root",password="",database='Airbnbdb')
print(mydb)
mycursor = mydb.cursor(buffered=True)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001F6DD6EF200>

In [54]:
# mycursor.execute('create database Airbnbdb')

In [55]:
# Create Table for Common details
# mycursor.execute('''
# CREATE TABLE Airbnbdb.Commondetails (
#     Id INT PRIMARY KEY,
#     URL VARCHAR(255),
#     Name VARCHAR(255),
#     Description VARCHAR(255),
#     Neighbour_overview VARCHAR(255),
#     Notes VARCHAR(255),
#     House_rules VARCHAR(255),
#     Property_type VARCHAR(255),
#     Room_type VARCHAR(255),
#     Bed_type VARCHAR(255),
#     Minimum_night INT,
#     Maximum_night INT,
#     Policy VARCHAR(255),
#     First_review DATETIME,
#     Last_review DATETIME,
#     Accommodation INT,
#     Bedrooms INT,
#     Beds INT,
#     No_of_reviews INT,
#     Bathrooms INT,
#     Price INT,
#     CleaningFee INT,
#     ExtraPeople INT,
#     Guests INT
# )
# ''')

In [56]:
# Insert details to the Common Table
# Insertdetails = [tuple(row) for row in Firstdf.values]

# sql ='INSERT INTO Airbnbdb.commondetails(`Id`, `URL`, `Name`, `Description`, `Neighbour_overview`, `Notes`, `House_rules`, `Property_type`, `Room_type`, `Bed_type`, `Minimum_night`, `Maximum_night`, `Policy`, `First_review`, `Last_review`, `Accommodation`, `Bedrooms`, `Beds`, `No_of_reviews`, `Bathrooms`, `Price`, `CleaningFee`, `ExtraPeople`, `Guests`)VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'

# mycursor.executemany(sql, Insertdetails)

# mydb.commit()

In [57]:
# Create table for Amenities Table
# mycursor.execute("""CREATE TABLE IF NOT EXISTS Amenities(AmenitiesId INT PRIMARY KEY,Amenities VARCHAR(255))""")

In [58]:
# Insert details to the Amenities Table

# amenitiesdet = [tuple(row) for row in Amenitiesdframe.values]

# amenitiessql = 'INSERT INTO Airbnbdb.Amenities(AmenitiesId, Amenities)VALUES(%s, %s)'

# mycursor.executemany(amenitiessql, amenitiesdet)

# mydb.commit()

In [59]:
# Create table for Host Table

# mycursor.execute('''
# CREATE TABLE IF NOT EXISTS Airbnbdb.Host(
#     Id INT PRIMARY KEY,
#     HostId VARCHAR(255),
#     Host_Url VARCHAR(255),
#     Host_Name VARCHAR(255),
#     Host_location VARCHAR(255),
#     Host_About TEXT,
#     Host_thumbnail VARCHAR(255),
#     Host_picture_url VARCHAR(255),
#     Host_neighbourhood VARCHAR(255),
#     Host_profile VARCHAR(255),
#     Host_identity VARCHAR(255),
#     Host_listing_count INT,
#     Host_verification TEXT)''')

In [60]:
# Insert details to the Host Table
# hostdet = [tuple(row) for row in Seconddf.values]

# hostsql ='INSERT INTO Airbnbdb.host(`Id`, `HostId`, `Host_Url`, `Host_Name`, `Host_location`, `Host_About`, `Host_thumbnail`, `Host_picture_url`, `Host_neighbourhood`, `Host_profile`, `Host_identity`, `Host_listing_count`, `Host_verification`)VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'

# mycursor.executemany(hostsql, hostdet)

# mydb.commit()

In [61]:
# Create table for Address Table

# mycursor.execute("""CREATE TABLE IF NOT EXISTS Addresses (
#             Id INT,
#             Street TEXT,
#             SubUrb TEXT,
#             Government_Area TEXT,
#             Market TEXT,
#             Country TEXT,
#             Country_code TEXT,
#             Location_type TEXT,
#             Longitude REAL,
#             Latitude REAL,
#             is_location_exact INTEGER)""")

In [62]:
# Insert details to the Address Table

# Insertsdetails = [tuple(row) for row in Thirddf.values]

# sql ='INSERT INTO Addresses(Id, Street, SubUrb, Government_Area, Market, Country, Country_code, Location_type, Longitude,Latitude, is_location_exact)VALUES(%s,%s,%s,%s,%s,%s,%s,%s,%s,%s,%s)'

# mycursor.executemany(sql, Insertsdetails)

# mydb.commit()

In [63]:
# Create table for Availability Table
# mycursor.execute('''CREATE TABLE IF NOT EXISTS Airbnbdb.Availability(Id INT PRIMARY KEY,Availability_30 INT,Availability_60 INT,Availability_90 INT,Availability_365 INT)''')

In [64]:
# Insert details to the Availability Table

# availdetails = [tuple(row) for row in Fourthdf.values]

# availsql ='INSERT INTO `availability`(`Id`, `Availability_30`, `Availability_60`, `Availability_90`, `Availability_365`)VALUES(%s,%s,%s,%s,%s)'

# mycursor.executemany(availsql, availdetails)

# mydb.commit()

In [65]:
# Create table to the ReviewScores Table

# mycursor.execute('''CREATE TABLE IF NOT EXISTS ReviewScores (
#                     Id INT PRIMARY KEY,
#                     ReviewScoreAccuracy REAL,
#                     ReviewScoreCleanliness REAL,
#                     ReviewScoreChecking REAL,
#                     ReviewScoreCommunication REAL,
#                     ReviewScoreLocation REAL,
#                     ReviewScoreValue REAL,
#                     ReviewScoreRating REAL
#                     )''')

In [66]:
# Insert details to the ReviewScores Table

# reviewscoredet = [tuple(row) for row in Fifthdf.values]

# reviewscoresql ='INSERT INTO Airbnbdb.reviewscores(`Id`, `ReviewScoreAccuracy`, `ReviewScoreCleanliness`, `ReviewScoreChecking`, `ReviewScoreCommunication`, `ReviewScoreLocation`, `ReviewScoreValue`, `ReviewScoreRating`)VALUES(%s,%s,%s,%s,%s,%s,%s,%s)'

# mycursor.executemany(reviewscoresql, reviewscoredet)

# mydb.commit()

In [67]:
# Create table to the Reviews Table

# mycursor.execute('''CREATE TABLE IF NOT EXISTS Reviews (
#             Id INT PRIMARY KEY,
#             Date DATETIME,
#             Listing_id INTEGER,
#             Reviewer_Id INTEGER,
#             ReviewerName TEXT,
#             Comment TEXT
#             )''')

In [68]:
# Insert details to the Reviews Table

# reviewdet = [tuple(row) for row in Sixthdf.values]

# reviewsql ='INSERT INTO `reviews`(`Id`, `Date`, `Listing_id`, `Reviewer_Id`, `ReviewerName`, `Comment`)VALUES(%s,%s,%s,%s,%s,%s)'

# mycursor.executemany(reviewsql, reviewdet)

# mydb.commit()

In [69]:
# Changing the data to csv files
# Firstdf.to_csv('Commondetails.csv',index=False)
# Amenitiesdframe.to_csv('Amenities.csv',index=False)
# Seconddf.to_csv('Host.csv',index=False)
# Thirddf.to_csv('Address.csv',index=False)
# Fourthdf.to_csv('Availability.csv',index=False)
# # Fifthdf.to_csv('ReviewScore.csv',index=False)
# Sixthdf.to_csv('Review.csv',index=False)

In [70]:
# All function calling

# Firstdf
# Amenitiesdframe
# Seconddf
# Thirddf
# Fourthdf
# Fifthdf
# Sixthdf